@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Judson:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Judson:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.b {
    border: 2px solid red;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

:root {
    --black: #000000;
    --orange: #F08526;
    --dark_blue: #0B125A;
    --white: #FFFFFF;
    --purple: #EDE1F3;
    --cream-orange: #FFE8D2;
    --judson: "Judson", serif;
    --poppins: "Poppins", sans-serif;
}

html,
body {
    font-family: "Poppins", sans-serif;

    overflow-x: hidden;


}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg {
    display: block;
    pointer-events: none;
}

figure {
    display: inline-block;
    overflow: hidden;
}

button {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.container {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container2 {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    align-items: stretch;

}

.col {
    padding: 0 15px;
    display: flex;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 33.33%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}

/* SECTION-PADDING */

.section-padding {
    padding: 50px 0;
}

/*  ==== COMPARE ====  */

.compare {
    background-color: #EDE1F3;
}

.compare-content {
    padding: 50px 0;
    max-width: 540px;
    width: 100%;
}

.compare-content>h4 {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #0B125A;
    font-family: "Judson", serif;
    margin-bottom: 25px;

}

.compare-content>p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 117px;
}

.input-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.input-field {
    width: 100%;
    border: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0, 0.6);
    outline: none;

}

.next-btn {
    background-color: #0d164b;
    color: white;
    border-radius: 30px;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid transparent;
    box-shadow: -5px 4px 10px rgba(0, 0, 0, .15);
    transition: 0.3s all ease-in;
}

.next-btn:hover {
    background-color: white;
    color: #0B125A;
    border: 1px solid #0B125A;
}


.priceSwiper {
    width: 610px;
    height: 400px;
    border-radius: 20px;
}

.priceSwiper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceSwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*====================
MEDIA QUERIES
======================
*/
@media screen and (max-width:1200px) {
    .priceSwiper {
        width: 400px;
    }

    .compare-content h4 {
        font-size: 36px;
    }

    .compare-content p {
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    .col-50 {
        width: 100%;
    }

    .compare-content {
        max-width: 100%;
        padding: 30px 0;
        text-align: center;
    }

    .compare-content>h4 {
        font-size: 40px;
    }

    .compare-content>p {
        margin-bottom: 60px;
        font-size: 16px;
    }

    .input-container {
        max-width: 600px;
        margin: 0 auto;
    }

    .priceSwiper {
        margin: 0 auto;
        height: 360px;
    }
}

@media screen and (max-width:576px) {
    .compare-content h4 {
        font-size: 28px;
    }

    .compare-content p {
        font-size: 12px;
    }
}

@media screen and (max-width:480px) {
    .input-container {
        display: flex;
        flex-direction: column;
    }

    .next-btn {
        margin-top: 20px;
    }

    .input-field {
        text-align: center;
    }
    .priceSwiper{
        width:250px;
    }
}