@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Judson:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Judson:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

:root {
    --bg-color: #0B125A;
    --font-color: #FFFFFF;
    --primary-color: #F5F7F9;
    --sec-color: #EDE1F3;
}



/*===================================
MAIN SECTION
=====================================
*/
.main-section {
    padding: 30px;
}

.card-part {
    padding: 20px;
    margin: 0 auto;
    background: var(--bg-color);
    border-radius: 20px;
    max-width: 1120px;
    min-height: 518px;
    margin-top: 20px;
}

.card-part h2 {
    color: var(--font-color);
    font-family: "Judson";
}

.address-para {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-family: "Poppins";
    font-size: 16px;
    margin-bottom: 20px;
}

.card-image-details {
    display: flex;
    align-items: center;
}

.card-details {
    margin-left: 20px;
}

.info-list li {
    display: flex;
    align-items: center;
}


.label {
    width: 200px;
    font-weight: 600;
    font-family: "Judson";
    color: var(--font-color);
    margin-bottom: 5px;
    font-size: 24px;
    white-space: nowrap;
}

.colon {
    color: var(--font-color);
    margin: 0 10px;
}

.value {
    font-size: 18px;
    font-family: "Poppins";
    color: rgba(255, 255, 255, 0.6);
}

.value a {
    color: rgba(255, 255, 255, 0.6);
}

.card-buttons {
    margin-top: 30px;
}

.card-buttons a {
    padding: 10px;
    background: var(--font-color);
    color: black;
    border-radius: 30px;
    margin-right: 10px;
    font-family: "Poppins";
}

.banner-button {
    margin-right: 0;
}

.text {
    font-family: "Poppins";
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
}

.see-more-btn {
    flex-grow: 1;
    height: 44px;
    /* max-width: 700px; */
    padding: 10px 380px;
    border-radius: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Poppins";
    text-align: center;
}

.rating-part {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.right-icon {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.like-percentage {
    margin-left: 10px;
    color: var(--font-color);
    font-family: "Poppins";
}

/*==================================
EXPERT SECTION
====================================
*/
.expert-section {
    padding: 20px 0;
    background: var(--sec-color);
}

.expert-section h2 {
    text-align: center;
    font-family: "Judson";
}

.services-list {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-pill>a {
    display: inline-flex;
    align-items: center;
    margin: 7px;
    padding: 10px 16px;
    background: #ffffff;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    color: #2b1b57;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.service-pill img {
    margin-right: 1.5px;
}

/*================================
MEDIA QUERIES
==================================
*/
/*=========================
MAIN SECTION
===========================
*/
@media screen and (max-width:1440px) {
    .card-part {
        max-width: 900px;
    }

    .card-image-details {
        align-items: flex-start;
    }

    .label {
        width: 160px;
        font-size: 14px;
    }

    .value {
        font-size: 12px;
    }

    .see-more-btn {
        padding: 10px 200px;
    }
}

@media screen and (max-width:1200px) {
    .card-part {
        max-width: 700px;
        text-align: center;
    }

    .card-image-details {
        flex-direction: column;
    }

    .text {
        font-size: 13px;
    }

    .card-image {
        margin: 0 auto;
    }

    .card-details {
        margin: 20px auto 0;
    }

    .card-buttons a {
        font-size: 14px;
    }
}

@media screen and (max-width:992px) {
    .card-part {
        max-width: 600px;
    }

    .see-more-btn {
        padding: 10px 100px;
    }
}

@media screen and (max-width:768px) {
    .card-part {
        max-width: 500px;
    }

    .card-image {
        max-width: 400px;
    }

    .card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width:576px) {
    .card-buttons {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .card-buttons a {
        margin-bottom: 20px;
    }

    .see-more-btn {
        padding: 10px 60px;
    }
}

@media screen and (max-width:480px) {
    .info-list li {
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }

    .label {
        width: auto;
        font-size: 16px;
        white-space: normal;
    }

    .colon {
        display: none;
    }
    .see-more-btn{
        padding:10px 30px;
    }
    .rating-part{
        display: flex;
        flex-direction: column;
    }
    .card-buttons a{
        font-size: 12px;
    }
    .card-part h2{
        font-size: 24px;
    }

}

/*=========================
EXPERT SECTION
===========================
*/
@media screen and (max-width:480px) {
    .services-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }
    .service-pill{
        margin: 0 auto;
    }    
}